image: 'Visual Studio 2017'

configuration:
  - Release

environment:
  ARTIFACT_PATH: cutter-deps-win.tar.gz
  ARTIFACT_NAME: cutter-deps-win.tar.gz

build_script:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
  - C:\msys64\usr\bin\bash -lc "
    mkdir ninja &&
    cd ninja &&
    wget https://github.com/ninja-build/ninja/releases/download/v1.9.0/ninja-win.zip &&
    7z x ninja-win.zip &&
    cd \"%APPVEYOR_BUILD_FOLDER%\" &&
    export PATH=\"$PWD/ninja:/c/Qt/5.12/msvc2017_64/bin:$PATH\" &&
    export LLVM_INSTALL_DIR=\"C:\Program Files\LLVM\" &&
    make PYTHON_WINDOWS=\"C:\Python36-x64\" QT_PREFIX=\"C:\Qt\5.12\msvc2017_64\""

artifacts:
  - path: "%ARTIFACT_PATH%"
    name: "%ARTIFACT_NAME%"

deploy:
  description: "cutter-deps"
  provider: GitHub
  auth_token:
    secure: zMlNzVP9WsKDBhzIYyjRrrGwow232C6kivY7zG7Neu9XdbXqbPKFEQbb3XYSGZRQ
  artifact: "%ARTIFACT_PATH%"
  on:
    APPVEYOR_REPO_TAG: true
