/qt
/pyside
/python
/test
/qt-everywhere-src-*
/pyside-setup-opensource-src-*
/Python-3.*
/patchelf-0.9*
/cutter-deps-*-*.tar.gz
/cutter-deps-qt.tar.gz
/pyside-src
/relocate.sh
/env.sh
/python_prefix_tmp
