name: package build

on:
  push:
    branches:
    - master
    tags:
    - v*
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, macos-10.15]
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: build linux
      if: contains(matrix.os, 'ubuntu')
      run: |
        set -euo pipefail
        sudo apt remove llvm-9
        sudo apt install libclang-8-dev llvm-8 mesa-common-dev libgl1-mesa-dev
        make
        echo UPLOAD_FILE=cutter-deps-linux.tar.gz >> $GITHUB_ENV
        echo UPLOAD_ASSET_TYPE=application/gzip >> $GITHUB_ENV
    - name: build macos
      if: contains(matrix.os, 'macos')
      run: |
        set -euo pipefail
        brew install llvm ccache
        export PATH=/usr/local/opt/llvm/bin:$PATH;
        xcode-select -print-path
        which llvm-config
        make
        echo UPLOAD_FILE=cutter-deps-macos.tar.gz >> $GITHUB_ENV
        echo UPLOAD_ASSET_TYPE=application/gzip >> $GITHUB_ENV
    - name: build windows
      if: contains(matrix.os, 'windows')
      shell: cmd
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
        C:\msys64\usr\bin\bash -lc "
          wget https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.0/LLVM-10.0.0-win64.exe &&
          7z x -oLLVM LLVM-10.0.0-win64.exe &&
          export LLVM_INSTALL_DIR=\"$PWD/LLVM\" &&
          cd \"%APPVEYOR_BUILD_FOLDER%\" &&
          export PATH=\"$PWD/qt/bin:$LLVM_INSTALL_DIR/bin:$PATH\" &&
          make PYTHON_WINDOWS=\"C:\Python36-x64\""
    - uses: actions/upload-artifact@v2
      with:
        name: ${{ env.UPLOAD_FILE }}
        path: ${{ env.UPLOAD_FILE }}
    - name: Get release
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      id: get_release
      uses: karliss/get-release@bee343636450eb2e9b85d9f1592d8d73c408dc74
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload release assets
      if: false && steps.get_release.outputs.upload_url != null
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ${{ env.UPLOAD_FILE }}
          asset_name: ${{ env.UPLOAD_FILE }}
          asset_content_type: ${{ env.UPLOAD_ASSET_TYPE }}